<center> <h1> Costa Rican Poverty Predction </h1> </center>
<center> <h2> by: Jason Lin, Jason Lingle, and Jonathan Marin </h2> </center>
<center> <h2> 9/16/2018 </h2> </center>




# Business Understanding

The Inter-American Development Bank (IDB) is asking the kaggle community for help with income qualification for some of the world's poorest families for sicial welfae assitance.    (https://www.kaggle.com/c/costa-rican-household-poverty-prediction)

Many social programs have a hard time making sure the right people are given enough aid. It’s especially tricky when a program focuses on the poorest segment of the population. The world’s poorest typically can’t provide the necessary income and expense records to prove that they qualify.

In Latin America, one popular method uses an algorithm to verify income qualification. It’s called the Proxy Means Test (PMT). With PMT, agencies use a model that considers a family’s observable household attributes like the material of their walls and ceiling, or the assets found in the home to classify them and predict their level of need.

While this is an improvement, accuracy remains a problem as the region’s population grows and poverty declines.

To improve on PMT, the IDB (the largest source of development financing for Latin America and the Caribbean) has turned to the Kaggle community. They believe that new methods beyond traditional econometrics, based on a dataset of Costa Rican household characteristics, might help improve PMT’s performance.

Beyond Costa Rica, many countries face this same problem of inaccurately assessing social need. If Kagglers can generate an improvement, the new algorithm could be implemented in other countries around the world.

The dataset is a file with household characteristics from a sample of Costa Rican households.  The dataset has observations for each memeber of the household, but the classfication is done at the household level.  The target is an ordinal variable indicating groups of income levels:

- 1 = extreme poverty 
- 2 = moderate poverty 
- 3 = vulnerable households 
- 4 = non vulnerable households

The goal is to use the household characteristics given and possibly create new features to predict the income levels using classication.  Since the test set does not have the target variable. We will test the accuracy by submitting to kaggle.

In [6]:
import pandas as pd 

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.000000,100.000000,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.000000,144.000000,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.000000,121.000000,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.000000,121.000000,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.000000,121.000000,1369,4
5,ID_ec05b1a7b,180000.0,0,5,0,1,1,1,1.0,0,...,121,1444,16,121,4,1.777778,1.000000,121.000000,1444,4
6,ID_e9e0c1100,180000.0,0,5,0,1,1,1,1.0,0,...,4,64,16,121,4,1.777778,1.000000,121.000000,64,4
7,ID_3e04e571e,130000.0,1,2,0,1,1,0,NaN,0,...,0,49,16,81,4,16.000000,1.000000,100.000000,49,4
8,ID_1284f8aad,130000.0,1,2,0,1,1,0,NaN,0,...,81,900,16,81,4,16.000000,1.000000,100.000000,900,4
9,ID_51f52fdd2,130000.0,1,2,0,1,1,0,NaN,0,...,121,784,16,81,4,16.000000,1.000000,100.000000,784,4
10,ID_db44f5c59,130000.0,1,2,0,1,1,0,NaN,0,...,9,121,16,81,4,16.000000,1.000000,100.000000,121,4
11,ID_de822510c,100000.0,0,3,0,1,1,0,NaN,0,...,144,324,4,0,1,1.000000,1.000000,529.000000,324,4
12,ID_d94071d7c,100000.0,0,3,0,1,1,0,NaN,0,...,121,1156,4,0,1,1.000000,1.000000,529.000000,1156,4
13,ID_064b57869,NaN,0,4,0,1,1,1,1.0,0,...,16,6241,4,0,0,1.000000,1.000000,90.250000,6241,4
14,ID_5c837d8a4,NaN,0,4,0,1,1,1,1.0,0,...,225,1521,4,0,0,1.000000,1.000000,90.250000,1521,4
15,ID_0a39e419e,90000.0,1,2,0,1,1,0,NaN,0,...,121,361,16,0,4,16.000000,9.000000,289.000000,361,4
16,ID_4ff51f90c,90000.0,1,2,0,1,1,0,NaN,0,...,4,4900,16,0,4,16.000000,9.000000,289.000000,4900,4
17,ID_336c51386,90000.0,1,2,0,1,1,0,NaN,0,...,121,361,16,0,4,16.000000,9.000000,289.000000,361,4
18,ID_c51938edf,90000.0,1,2,0,1,1,0,NaN,0,...,100,2500,16,0,4,16.000000,9.000000,289.000000,2500,4
19,ID_35b66f7c6,215000.0,0,4,0,1,1,0,NaN,0,...,144,484,4,225,0,1.000000,0.000000,182.250000,484,4
20,ID_74a2bc523,215000.0,0,4,0,1,1,0,NaN,0,...,225,676,4,225,0,1.000000,0.000000,182.250000,676,4
21,ID_15d393ce7,150000.0,0,3,0,1,1,0,NaN,0,...,16,4761,4,16,0,4.000000,64.000000,100.000000,4761,4
22,ID_a0bff0ba7,150000.0,0,3,0,1,1,0,NaN,0,...,256,4356,4,16,0,4.000000,64.000000,100.000000,4356,4
23,ID_848b0fdf1,100000.0,1,1,1,0,1,0,NaN,0,...,36,1681,9,36,0,9.000000,0.000000,106.777770,1681,4
24,ID_298d857e5,100000.0,1,1,1,0,1,0,NaN,0,...,169,400,9,36,0,9.000000,0.000000,106.777770,400,4
25,ID_1d5bf8ddf,100000.0,1,1,1,0,1,0,NaN,0,...,144,1600,9,36,0,9.000000,0.000000,106.777770,1600,4
26,ID_e5cdba865,NaN,0,5,0,1,1,0,NaN,0,...,225,1936,1,225,0,0.250000,0.000000,225.000000,1936,4
27,ID_e18530139,120000.0,0,4,0,1,1,1,1.0,0,...,36,4761,9,36,0,2.250000,0.250000,44.444443,4761,4
28,ID_cba035c44,120000.0,0,4,0,1,1,1,1.0,0,...,36,3844,9,36,0,2.250000,0.250000,44.444443,3844,4
29,ID_b6c1c7e65,120000.0,0,4,0,1,1,1,1.0,0,...,64,1089,9,36,0,2.250000,0.250000,44.444443,1089,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9527,ID_92b30d94b,NaN,0,5,0,1,1,0,NaN,2,...,0,1,16,64,4,4.000000,1.000000,90.250000,1,4
9528,ID_6309f1595,45000.0,0,3,0,1,0,0,NaN,0,...,256,961,1,0,0,1.000000,0.000000,256.000000,961,4
9529,ID_f8b8c7703,NaN,0,1,0,1,1,0,NaN,0,...,36,2116,4,36,0,4.000000,0.000000,36.000000,2116,4
9530,ID_7226bda20,NaN,0,1,0,1,1,0,NaN,0,...,36,2704,4,36,0,4.000000,0.000000,36.000000,2704,4
9531,ID_10da2c3cb,70000.0,0,4,0,1,1,0,NaN,0,...,25,2916,9,25,1,2.250000,0.250000,30.250000,2916,4
9532,ID_503cfc817,70000.0,0,4,0,1,1,0,NaN,0,...,36,2025,9,25,1,2.250000,0.250000,30.250000,2025,4
9533,ID_5384717d3,70000.0,0,4,0,1,1,0,NaN,0,...,100,289,9,25,1,2.250000,0.250000,30.250000,289,4
9534,ID_8d3963fff,NaN,0,7,0,1,1,0,NaN,0,...,16,5476,1,16,0,0.111111,64.000000,16.000000,5476,3
9535,ID_18b0a845b,NaN,0,4,0,1,0,0,NaN,1,...,25,676,25,0,9,6.250000,2.250000,20.250000,676,1
9536,ID_d20bd7576,NaN,0,4,0,1,0,0,NaN,1,...,0,64,25,0,9,6.250000,2.250000,20.250000,64,2
9537,ID_cca751e53,NaN,0,4,0,1,0,0,NaN,1,...,16,841,25,0,9,6.250000,2.250000,20.250000,841,2
9538,ID_bfbb06d62,NaN,0,4,0,1,0,0,NaN,1,...,0,36,25,0,9,6.250000,2.250000,20.250000,36,2
9539,ID_e20c78904,NaN,0,4,0,1,0,0,NaN,1,...,0,36,25,0,9,6.250000,2.250000,20.250000,36,2
9540,ID_e01b00c7e,NaN,0,3,0,0,0,0,NaN,2,...,0,4,25,4,9,6.250000,2.250000,16.000000,4,2
9541,ID_a31274054,NaN,0,3,0,0,0,0,NaN,2,...,4,1600,25,4,9,6.250000,2.250000,16.000000,1600,2
9542,ID_fc386a944,NaN,0,3,0,0,0,0,NaN,2,...,9,100,25,4,9,6.250000,2.250000,16.000000,100,2
9543,ID_2f8268634,NaN,0,3,0,0,0,0,NaN,2,...,36,169,25,4,9,6.250000,2.250000,16.000000,169,2
9544,ID_4c180d79f,NaN,0,3,0,0,0,0,NaN,2,...,36,1089,25,4,9,6.250000,2.250000,16.000000,1089,2
9545,ID_32a00a8bf,46500.0,0,5,0,1,1,0,NaN,1,...,4,2025,25,4,4,5.444444,0.444444,100.000000,2025,4
9546,ID_1dfb12fcf,46500.0,0,5,0,1,1,0,NaN,1,...,36,2116,25,4,4,5.444444,0.444444,100.000000,2116,4
9547,ID_198be48d1,46500.0,0,5,0,1,1,0,NaN,1,...,121,529,25,4,4,5.444444,0.444444,100.000000,529,4
9548,ID_9df63c33e,46500.0,0,5,0,1,1,0,NaN,1,...,121,324,25,4,4,5.444444,0.444444,100.000000,324,4
9549,ID_aacac04a2,46500.0,0,5,0,1,1,0,NaN,1,...,0,4,25,4,4,5.444444,0.444444,100.000000,4,4
9550,ID_90a399a51,NaN,0,3,0,1,1,0,NaN,0,...,36,3721,4,0,0,4.000000,1.000000,9.000000,3721,2
9551,ID_79d39dddc,NaN,0,3,0,1,1,0,NaN,0,...,0,4489,4,0,0,4.000000,1.000000,9.000000,4489,2
9552,ID_d45ae367d,80000.0,0,6,0,1,1,0,NaN,0,...,81,2116,25,81,1,1.562500,0.062500,68.062500,2116,2
9553,ID_c94744e07,80000.0,0,6,0,1,1,0,NaN,0,...,0,4,25,81,1,1.562500,0.062500,68.062500,4,2
9554,ID_85fc658f8,80000.0,0,6,0,1,1,0,NaN,0,...,25,2500,25,81,1,1.562500,0.062500,68.062500,2500,2
9555,ID_ced540c61,80000.0,0,6,0,1,1,0,NaN,0,...,121,676,25,81,1,1.562500,0.062500,68.062500,676,2
9556,ID_a38c64491,80000.0,0,6,0,1,1,0,NaN,0,...,64,441,25,81,1,1.562500,0.062500,68.062500,441,2

# Data Meaning Type


Variable Name | Definition | Variable Type
--------------|------------|------------------|
v2a1 |  Monthly rent payment | float
hacdor |  =1 Overcrowding by bedrooms | bool
rooms |   number of all rooms in the house | int
hacapo |  =1 Overcrowding by rooms | bool
v14a |  =1 has bathroom in the household | bool
refrig |  =1 if the household has refrigerator | bool
v18q |  owns a tablet | bool
v18q1 |  number of tablets household owns | int
r4h1 |  Males younger than 12 years of age | int
r4h2 |  Males 12 years of age and older | int
r4h3 |  Total males in the household | int
r4m1 |  Females younger than 12 years of age | int
r4m2 |  Females 12 years of age and older | int
r4m3 |  Total females in the household | int
r4t1 |  persons younger than 12 years of age | int
r4t2 |  persons 12 years of age and older | int
r4t3 |  Total persons in the household | int
tamhog |  size of the household | int
tamviv |  number of persons living in the household | int
escolari |  years of schooling | int
rez_esc |  Years behind in school | int
hhsize |  household size | int
paredblolad |  =1 if predominant material on the outside wall is block or brick | bool
paredzocalo |  "=1 if predominant material on the outside wall is socket (wood   zinc or absbesto" | bool
paredpreb |  =1 if predominant material on the outside wall is prefabricated or cement | bool
pareddes |  =1 if predominant material on the outside wall is waste material | bool
paredmad |  =1 if predominant material on the outside wall is wood | bool
paredzinc |  =1 if predominant material on the outside wall is zink | bool
paredfibras |  =1 if predominant material on the outside wall is natural fibers | bool
paredother |  =1 if predominant material on the outside wall is other | bool
pisomoscer |  "=1 if predominant material on the floor is mosaic, ceramic, terrzo | bool
pisocemento |  =1 if predominant material on the floor is cement | bool
pisoother |  =1 if predominant material on the floor is other | bool
pisonatur |  =1 if predominant material on the floor is  natural material | bool
pisonotiene |  =1 if no floor at the household | bool
pisomadera |  =1 if predominant material on the floor is wood | bool
techozinc |  =1 if predominant material on the roof is metal foil or zink | bool
techoentrepiso |  "=1 if predominant material on the roof is fiber cement   mezzanine | bool
techocane |  =1 if predominant material on the roof is natural fibers | bool
techootro |  =1 if predominant material on the roof is other | bool
cielorazo |  =1 if the house has ceiling | bool
abastaguadentro |  =1 if water provision inside the dwelling | bool
abastaguafuera |  =1 if water provision outside the dwelling | bool
abastaguano |  =1 if no water provision | bool
public |  "=1 electricity from CNFL   ICE  ESPH/JASEC | bool
planpri |  =1 electricity from private plant | bool
noelec |  =1 no electricity in the dwelling | bool
coopele |  =1 electricity from cooperative | bool
sanitario1 |  =1 no toilet in the dwelling | bool
sanitario2 |  =1 toilet connected to sewer or cesspool | bool
sanitario3 |  =1 toilet connected to  septic tank | bool
sanitario5 |  =1 toilet connected to black hole or letrine | bool
sanitario6 |  =1 toilet connected to other system | bool
energcocinar1 |  =1 no main source of energy used for cooking (no kitchen) | bool
energcocinar2 |  =1 main source of energy used for cooking electricity | bool
energcocinar3 |  =1 main source of energy used for cooking gas | bool
energcocinar4 |  =1 main source of energy used for cooking wood charcoal | bool
elimbasu1 |  =1 if rubbish disposal mainly by tanker truck | bool
elimbasu2 |  =1 if rubbish disposal mainly by botan hollow or buried | bool
elimbasu3 |  =1 if rubbish disposal mainly by burning | bool
elimbasu4 |  =1 if rubbish disposal mainly by throwing in an unoccupied space | bool
elimbasu5 |  "=1 if rubbish disposal mainly by throwing in river | bool
elimbasu6 |  =1 if rubbish disposal mainly other | bool
epared1 |  =1 if walls are bad | bool
epared2 |  =1 if walls are regular | bool
epared3 |  =1 if walls are good | bool
etecho1 |  =1 if roof are bad | bool
etecho2 |  =1 if roof are regular | bool
etecho3 |  =1 if roof are good | bool
eviv1 |  =1 if floor are bad | bool
eviv2 |  =1 if floor are regular | bool
eviv3 |  =1 if floor are good | bool
dis |  =1 if disable person | bool
male |  =1 if male | bool
female |  =1 if female | bool
estadocivil1 |  =1 if less than 10 years old | bool
estadocivil2 |  =1 if free or coupled uunion | bool
estadocivil3 |  =1 if married | bool
estadocivil4 |  =1 if divorced | bool
estadocivil5 |  =1 if separated | bool
estadocivil6 |  =1 if widow/er | bool
estadocivil7 |  =1 if single | bool
parentesco1 |  =1 if household head | bool
parentesco2 |  =1 if spouse/partner | bool
parentesco3 |  =1 if son/doughter | bool
parentesco4 |  =1 if stepson/doughter | bool
parentesco5 |  =1 if son/doughter in law | bool
parentesco6 |  =1 if grandson/doughter | bool
parentesco7 |  =1 if mother/father | bool
parentesco8 |  =1 if father/mother in law | bool
parentesco9 |  =1 if brother/sister | bool
parentesco10 |  =1 if brother/sister in law | bool
parentesco11 |  =1 if other family member | bool
parentesco12 |  =1 if other non family member | bool
idhogar |  Household level identifier | string
hogar_nin |  Number of children 0 to 19 in household | int
hogar_adul |  Number of adults in household | int
hogar_mayor |  # of individuals 65+ in the household | int
hogar_total |  # of total individuals in the household | int
dependency |  Dependency rate,  calculated = (number of members of the household younger than 19 or older than 64)/(number of member of household between 19 and 64) | numeric
edjefe |  years of education of male head of household,  based on the interaction of escolari (years of education)  head of household and gender,  yes=1 and no=0 | bool
edjefa |  years of education of female head of household , based on the interaction of escolari (years of education) , head of household and gender,  yes=1 and no=0 | bool
meaneduc | average years of education for adults (18+) | int
instlevel1 |  =1 no level of education | bool
instlevel2 |  =1 incomplete primary | bool
instlevel3 |  =1 complete primary | bool
instlevel4 |  =1 incomplete academic secondary level | bool
instlevel5 |  =1 complete academic secondary level | bool
instlevel6 |  =1 incomplete technical secondary level | bool
instlevel7 |  =1 complete technical secondary level | bool
instlevel8 |  =1 undergraduate and higher education | bool
instlevel9 |  =1 postgraduate higher education | bool
bedrooms |  number of bedrooms | int
overcrowding |  # persons per room | int
tipovivi1 |  =1 own and fully paid house | bool
tipovivi2 |  "=1 own paying in installments | bool
tipovivi3 |  =1 rented | bool
tipovivi4 |  =1 precarious | bool
tipovivi5 |  "=1 other(assigned   borrowed)" | bool
computer |  =1 if the household has notebook or desktop computer | bool
television |  =1 if the household has TV | bool
mobilephone |  =1 if mobile phone | bool
qmobilephone |  # of mobile phones | int
lugar1 |  =1 region Central | bool
lugar2 |  =1 region Chorotega | bool
lugar3 |  =1 region PacÃƒÂ­fico central | bool
lugar4 |  =1 region Brunca | bool
lugar5 |  =1 region Huetar AtlÃƒÂ¡ntica | bool
lugar6 |  =1 region Huetar Norte | bool
area1 |  =1 zona urbana | bool
area2 |  =2 zona rural | bool
age |  Age in years | int
SQBescolari |  escolari squared | numeric
SQBage |  age squared | numeric
SQBhogar_total |  hogar_total squared | int
SQBedjefe |  edjefe squared | int
SQBhogar_nin |  hogar_nin squared | int
SQBovercrowding |  overcrowding squared | float
SQBdependency |  dependency squared | float
SQBmeaned |  square of the mean years of education of adults (>=18) in the household | bool
agesq |  Age squared | numeric

# Data Quality

Verify data quality; Explain any missing values, duplicate data, and outliers.  Are those mistakes? How do you deal with these problems? Give justificatinos for your methods.

# Simple Statistics 
Visualize appropriate statistics (e.g. range, mode, mean, median, variance, counts) for a subset of attributes. Describe anything meaningful you found from this or if you found something potentially niteresting.  Note: You can also use data from other sources for comparison. Explain why the statistics run are meaningful.

# Visualize Attributes
Visualize the most interesting attributes (at least 5 attributes, your opinion on what is the interesting). Important: Interpret the implicatinos for each visualizatino. Explain for each attribute why the chosen visualization is appropriate.

# Explore Joint Attributes

Identify and explain interesting relationships between features and the class you are trying to predict (i.e., relationships with variables and the target classsification).

# New Features 

Are there other features that could be added to the data or created from existing features? Which ones?

# Exceptional Work 

You have free reign to provide additional analysis. One idea: implement dimensiality reduction, then visualize and interpret the results.